.contactRow {
    margin-top: 50px;
}

.contactHeader {
    font-size: 35px !important;
}

.contactHeader b {
    font-size: 35px !important;
    text-shadow: 0px 0px 2px rgba(255,255,255,0.7);
    color: #fff;
    font-weight: 500;
}

.contactForm {
    margin-top: 25px;
    max-width: 400px !important;
    margin-right: auto;
    margin-left: auto;
    text-align: right !important;
}

img.arrow {
    position: absolute;
    float: right;
    left:50%;
    margin-left:450px;
    width: 50px;
}

