.frontInformationCard {
    padding-top: 6em;
}

.heading {
    font-size: 2.5em !important;
}

.headingColumn {
    text-align: left !important;
}

.header {
    color: #E4E4E4 !important;
    font-weight: 100 !important;
    margin-bottom: 0 !important;
}

.headingSubText {
    color: rgba(255, 255, 255, 0.99) !important;
    padding-left: 0.4em;
    font-weight: 100;
}

.haukurCartoonCharacter {
    min-height: 50px;
}
  
@media only screen and (min-width: 650px) {
      .headingColumn {
          padding-top: 4em !important;
      }
  }

@media only screen and (max-width: 500px) {
    b {
        display: block;
        margin-top: 0;
        font-size: 0.84em !important;
    }
    .headingColumn {
        font-size: 0.8em !important;
    }
    .headingSubText {
        color: rgba(255, 255, 255, 0.99) !important;
        font-size: 0.9em;
        font-weight: 100;
        padding-top: 0;
    }
    .heading {
        margin-bottom: 0px !important;
    }
    .frontInformationCard {
        padding-top: 2em;
    }
}